:root {
  --fonts: "Inter", sans-serif;
  --colorButton: #5b48fc;
  --colorProjectStyle: #a4e522;
  --colorText: #131730;
  --colorText-08: rgb(19, 23, 48);
  --colorBackground: #f2f6f9;
  --colorWhite: #ffffff;
  --colorWhite-05: rgb(255, 255, 255);
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-LightBETA.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

input {
  background: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.33;
  color: var(--colorWhite);
  border: none;
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  min-width: 375px;
  font-size: 18px;
  font-family: var(--fonts);
  position: relative;
  overflow-x: hidden;
  background-color: var(--colorWidth);
  color: var(--colorText-08);
  font-style: normal;
  font-weight: 300;
  line-height: 1.33;
  min-height: 100%;
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  color: var(--colorText);
}
@media (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 24px;
    line-height: 1.33;
  }
}
@media (max-width: 375px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.33;
    font-size: 24px;
  }
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  color: var(--colorWhite);
  font-weight: 700;
  font-size: 18px;
  line-height: 128%;
  border-radius: 32px;
  background: var(--colorButton);
  width: -moz-max-content;
  width: max-content;
  padding: 21px 24px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.5;
  color: var(--colorText);
}
@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }
}

.wrapper {
  max-width: 1585px;
  width: 100%;
  padding-inline: 20px;
  margin: 0 auto;
}

.header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 45px;
  flex-wrap: wrap;
}
.header__top {
  display: flex;
}
.header__logotype {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header__social {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header__phone {
  text-decoration: none;
  width: 140px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--colorWhite);
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 16px;
  display: flex;
  gap: 16px;
}
.social-list__link {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 10px 15px;
  border-radius: 24px;
  background-color: #1e96c8;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--colorWhite);
  width: 232px;
}
.social-list__link:hover {
  background-color: rgba(30, 149, 200, 0.768627451);
}
.social-list__link--whatsapp {
  background-color: #43ad45;
}
.social-list__link--whatsapp:hover {
  background-color: rgba(67, 173, 69, 0.7333333333);
}
.social-list__icon {
  margin-right: 12px;
}

.first-screen {
  position: relative;
  background: #131730;
  background-image: url(../img/first-screen-BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  min-height: 100vh;
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center;
}
.first-screen__title {
  width: 855px;
  font-weight: 500;
  font-size: 80px;
  line-height: 1.1;
  color: var(--colorWhite);
  text-align: left;
  padding-top: 100px;
  margin-bottom: 16px;
}
.first-screen__title span {
  color: var(--colorProjectStyle);
}
.first-screen__text {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.33;
  color: var(--colorWhite-05);
  text-align: left;
  margin-bottom: 35px;
}
.first-screen__text span {
  font-weight: 500;
  color: var(--colorWhite);
}

@media (max-width: 1024px) {
  .first-screen__title {
    width: 680px;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.2;
    width: 680px;
    padding-top: 100px;
  }
  .first-screen__text {
    font-weight: 300;
    font-size: 18px;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .first-screen__title {
    width: 500px;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.17;
    margin-bottom: 40px;
  }
  .first-screen__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
  }
  .first-screen__text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
  }
}
@media (max-width: 375px) {
  .first-screen__title {
    padding-top: 209px;
    width: 335px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.33;
    text-align: center;
  }
  .first-screen__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.56;
    text-align: center;
    margin: 0;
    padding-bottom: 23px;
  }
  .first-screen__text span {
    font-weight: 500;
  }
}
.benefits {
  background: var(--colorButton);
  padding-top: 32px;
  padding-bottom: 42px;
}
.benefits__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
}
.benefits__item {
  display: grid;
  width: 224px;
  gap: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: var(--colorWhite);
}
.benefits__item span {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
}
.benefits__item--weight {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: var(--colorWhite);
}

@media (max-width: 1024px) {
  .benefits__list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .benefits__item {
    width: 288px;
  }
}
@media (max-width: 768px) {
  .benefits__item {
    width: 208px;
  }
}
@media (max-width: 375px) {
  .benefits .wrapper {
    padding-inline: 15px;
  }
  .benefits {
    text-align: center;
  }
  .benefits__list {
    width: 200px;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    gap: 15px;
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 1fr;
  }
  .services__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
  .benefits__item {
    width: 160px;
  }
}
.services {
  background: var(--colorText);
  padding: 65px 0;
}
.services .title {
  color: var(--colorWhite);
  text-align: left;
}
.services__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 33px;
}
.services__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 33px;
}
.services__item {
  text-align: left;
  cursor: pointer;
  margin-bottom: 19px;
  width: 230px;
  position: relative;
}
.services__item:hover path {
  stroke: var(--colorButton);
  transition: 0.1s;
}
.services__item:hover::before {
  transform: scaleX(1);
}
.services__item::before {
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid var(--colorWhite);
  position: absolute;
  bottom: -19px;
  transform: scaleX(0);
  transition: all 0.1s;
  transition: 0.5s;
  width: 80px;
}
.services__icon {
  margin-bottom: 24px;
}
.services__description {
  margin: 0;
  color: var(--colorWhite);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
}

@media (max-width: 1024px) {
  .services__box {
    flex-direction: column;
  }
  .services__list {
    gap: 20px;
  }
  .services__item {
    margin-bottom: 30px;
    width: 220px;
  }
}
@media (max-width: 768px) {
  .services__box {
    flex-wrap: wrap;
  }
  .services__list {
    width: 160px;
  }
  .services__item {
    width: 160px;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
  }
}
@media (max-width: 375px) {
  .services .wrapper {
    padding-inline: 15px;
  }
  .services {
    padding-top: 40px;
  }
  .services__icon {
    width: 46px;
    margin-bottom: 18px;
  }
  .services .title {
    margin-bottom: 34px;
    font-size: 24px;
  }
  .services__box {
    display: inline;
  }
  .services__item {
    width: 160px;
  }
  .services__list {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .services__description {
    font-size: 16px;
    line-height: 1.56;
    width: 160px;
  }
}
.price {
  padding-top: 64px;
  padding-bottom: 80px;
}
.price__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
.price__box {
  display: flex;
  justify-content: space-between;
}
.price__hover {
  cursor: pointer;
  position: relative;
}
.price__hover:hover path {
  stroke: var(--colorButton);
  transition: 0.1s;
}
.price__hover:hover::before {
  transform: scaleX(1);
}
.price__hover::before {
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid var(--colorButton);
  position: absolute;
  bottom: -19px;
  transform: scaleX(0);
  transition: all 0.1s;
  transition: 0.5s;
  width: 80px;
}
.price__icon {
  margin-bottom: 16px;
}
.price__name {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 38px;
}
.price__description {
  padding: 0;
  margin: 0;
  width: 480px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 28px;
  opacity: 0.8;
}
.price__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  opacity: 0.5;
}
.price__cost {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.4;
}
.price .price__box .button {
  margin-top: 27px;
}

@media (max-width: 1024px) {
  .price .title {
    margin-bottom: 34px;
  }
  .price__box {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .price {
    padding-top: 34px;
    padding-bottom: 34px;
  }
  .price__box {
    flex-direction: column;
  }
  .price__description {
    width: 650px;
  }
  .price .title {
    font-size: 34px;
  }
  .price__list {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  .price__name {
    font-size: 30px;
    width: 410px;
    margin-bottom: 24px;
  }
}
@media (max-width: 375px) {
  .price__box {
    border: none;
  }
  .wrapper .title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
  }
  .price__card {
    width: 335px;
  }
  .price__icon {
    width: 37px;
    margin-bottom: 18px;
  }
  .price__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    width: 335px;
    margin-bottom: 37px;
  }
  .price__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.56;
    width: 335px;
    margin-bottom: 18px;
  }
  .price__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
  }
  .price__cost {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4;
  }
  .price .price__box .button {
    margin-top: 17px;
    width: 335px;
    display: flex;
    padding: 16px 0;
  }
}
.accordion {
  background-color: var(--colorBackground);
  padding-top: 64px;
  padding-bottom: 115px;
}
.accordion__box {
  display: flex;
  justify-content: space-between;
}
.accordion__faq {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.accordion__item {
  border-top: 1px solid var(--colorText);
  border-bottom: 1px solid var(--colorText);
}
.accordion__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion__title {
  padding: 0;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
}
.accordion__body {
  margin: 0;
  padding: 0;
  width: 961px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.33;
  padding: 0 40px 35px;
}

@media (max-width: 1024px) {
  .accordion__box {
    display: flex;
    flex-direction: column;
  }
  .accordion__box .title {
    padding-bottom: 35px;
  }
}
@media (max-width: 768px) {
  .accordion__body {
    padding: 0 25px 30px;
    font-size: 16px;
    width: 723px;
  }
}
@media (max-width: 375px) {
  .accordion {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .accordion__box .title {
    padding: 0;
  }
  .accordion__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.25;
    padding-top: 14px;
    padding-bottom: 20px;
    width: 300px;
  }
  .accordion__body {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.56;
    width: 338px;
  }
  .accordion .wrapper {
    padding-inline: 15px;
  }
  .accordion__faq {
    padding: 0;
  }
}
.discuss {
  background: var(--colorText);
  padding-top: 64px;
  padding-bottom: 100px;
}
.discuss__box .title {
  color: var(--colorWhite);
  text-align: left;
}
.discuss__box {
  display: flex;
  justify-content: space-between;
}

.form {
  width: 992px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.form__label {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: var(--colorWhite);
  opacity: 0.7;
  padding-top: 44px;
  padding-bottom: 27px;
  border-bottom: 1px solid var(--colorWhite-05);
  display: flex;
  gap: 77px;
}
.form__name {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: var(--colorWhite);
  opacity: 0.7;
  padding-top: 20px;
  padding-bottom: 27px;
  border-top: 1px solid var(--colorWhite-05);
  border-bottom: 1px solid var(--colorWhite-05);
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.form__message {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: var(--colorWhite);
  opacity: 0.7;
  padding-top: 44px;
  padding-bottom: 27px;
  display: flex;
  gap: 16px;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 27px;
  border-bottom: 1px solid var(--colorWhite-05);
}
.form__label__flex {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.form__input {
  padding: 20px;
}
.form__box {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 50px;
}
.form__button {
  margin-left: auto;
}
.form__consent {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: var(--colorWhite-05);
}
.form__consent a {
  color: var(--colorProjectStyle);
}
.form__textarea {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.33;
  color: var(--colorWhite-05);
  resize: none;
}

@media (max-width: 1024px) {
  .discuss__box {
    flex-direction: column;
  }
  .discuss .title {
    padding-bottom: 45px;
  }
}
@media (max-width: 768px) {
  .form__label__flex {
    flex-direction: column;
    gap: 0;
  }
  .form__button {
    margin-left: 50px;
  }
}
@media (max-width: 375px) {
  .discuss {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .discuss .title {
    padding: 0;
  }
  .discuss__box {
    display: flex;
    flex-direction: column;
  }
  .form__name {
    padding-top: 11px;
    padding-bottom: 15px;
    flex-direction: column;
    gap: 4px;
    font-size: 16px;
    line-height: 1.5;
  }
  .form__label {
    padding-top: 11px;
    padding-bottom: 15px;
    flex-direction: column;
    gap: 4px;
    font-size: 20px;
    line-height: 1.25;
  }
  .form__label__flex {
    flex-direction: column;
    gap: 0;
  }
  .form__message {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 11px;
    padding-bottom: 15px;
    gap: 4px;
    font-size: 16px;
    line-height: 1.5;
  }
  .form__textarea {
    font-size: 20px;
    line-height: 1.25;
  }
  .form__box {
    padding-top: 30px;
    display: flex;
  }
  .form__consent {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.43;
    width: 295px;
  }
  .form__button {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=main.css.map */