.benefits {
  background: var(--colorButton);
  padding-top: 32px;
  padding-bottom: 42px;

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
  }

  &__item {
    display: grid;
    width: 224px;
    gap: 7px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: var(--colorWhite);
  }

  &__item span {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
  }

  &__item--weight {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: var(--colorWhite);
  }
}


@media (max-width: 1024px) {

}


@media (max-width: 768px) {

}


@media (max-width: 375px) {
  
}
