.first-screen {
  position: relative;
  background: #131730;
  background-image: url(../img/first-screen-BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  min-height: 100vh;
  max-width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center;

  &__title {
    width: 855px;
    font-weight: 500;
    font-size: 80px;
    line-height: 1.1;
    color: var(--colorWhite);
    text-align: left;
    padding-top: 100px;
    margin-bottom: 16px;
  }

  &__title span {
    color: var(--colorProjectStyle);
  }

  &__text {
    margin: 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.33;
    color: var(--colorWhite-05);
    text-align: left;
    margin-bottom: 35px;
  }

  &__text span {
    font-weight: 500;
    color: var(--colorWhite);
  }
}

@media (max-width: 1024px) {
  .first-screen__title {
    width: 680px;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.2;
    width: 680px;
    padding-top: 100px;
  }

  .first-screen__text {
    font-weight: 300;
    font-size: 18px;
    margin: 0;
  }
}

@media (max-width: 768px) {

  .first-screen__title {
    width: 500px;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.17;
    margin-bottom: 40px;
  }

  .first-screen__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.33;
  }

  .first-screen__text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
  }
}

@media (max-width: 375px) {
  .first-screen {
  }

  .first-screen__title {
    padding-top: 209px;
    width: 335px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.33;
    text-align: center;
  }

  .first-screen__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.56;
    text-align: center;
    margin: 0;
    padding-bottom: 23px;
  }

  .first-screen__text span {
    font-weight: 500;
  }
}
