.header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 45px;
  flex-wrap: wrap;

  &__top {
    display: flex;
  }

  &__logotype {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  &__social {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__phone {
    text-decoration: none;
    width: 140px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--colorWhite);
  }
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 16px;
  display: flex;
  gap: 16px;

  &__link {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 10px 15px;
    border-radius: 24px;
    background-color: #1e96c8;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--colorWhite);
    width: 232px;
  }

  &__link:hover {
    background-color: #1e95c8c4;
  }

  &__link--whatsapp {
    background-color: #43ad45;
  }

  &__link--whatsapp:hover {
    background-color: #43ad45bb;
  }

  &__icon {
    margin-right: 12px;
  }
}

@media (max-width: 1024px) {
  .header {
  }

  .first-screen__title {
    font-size: 18px;
    width: 680px;
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  .first-screen__title {
    width: 448px;
    font-size: 18px;
  }

  .first-screen__text {
  }
}

@media (max-width: 375px) {
  .first-screen .wrapper {
    padding-inline: 15px;
  }

  .first-screen__title {
    font-size: 32px;
    line-height: 1.25;
    text-align: center;
    margin: 0 auto;
    width: 335px;
    margin-bottom: 14px;
  }

  .first-screen__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.56;
    text-align: center;
    width: 335px;
    margin-bottom: 23px;
  }

  .first-screen .button {
  }
}

@media (max-width: 375px) {
  .first-screen__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.25;
    text-align: center;
  }

  .first-screen{
    font-weight: 300;
    font-size: 16px;
    line-height: 156%;
    text-align: center;
  }

  .social-list span {
    display: none;
  }

  .social-list__link {
  }
}
