.services {
  background: var(--colorText);
  padding: 65px 0;

  & .title {
    color: var(--colorWhite);
    text-align: left;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 33px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 33px;
  }

  &__item {
    text-align: left;
    cursor: pointer;
    margin-bottom: 19px;
    width: 230px;
    position: relative;
  }

  &__item:hover path {
    stroke: var(--colorButton);
    transition: 0.1s;
  }

  &__item:hover::before {
    transform: scaleX(1);
  }

  &__item::before {
    content: "";
    width: 100%;
    height: 1px;
    border: 1px solid var(--colorWhite);
    position: absolute;
    bottom: -19px;
    transform: scaleX(0);
    transition: all 0.1s;
    transition: 0.5s;
    width: 80px;
  }

  &__icon {
    margin-bottom: 24px;
  }

  &__description {
    margin: 0;
    color: var(--colorWhite);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
  }
}

@media (max-width: 1024px) {
  .services__box {
    flex-direction: column;
  }

  .services .title {
  }

  .services__list {
    gap: 20px;
  }

  .services__item {
    margin-bottom: 30px;
    width: 220px;
  }
}

@media (max-width: 768px) {
  .services__box {
    flex-wrap: wrap;
  }

  .services__list {
    width: 160px;
  }

  .services__item {
    width: 160px;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
  }
}

@media (max-width: 375px) {
  .services .wrapper {
    padding-inline: 15px;
  }

  .services {
    padding-top: 40px;
  }

  .services__icon {
    width: 46px;
    margin-bottom: 18px;
  }

  .services .title {
    margin-bottom: 34px;
    font-size: 24px;
  }

  .services__box {
    display: inline;
  }

  .services__item {
    width: 160px;
  }

  .services__list {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .services__description {
    font-size: 16px;
    line-height: 1.56;
    width: 160px;
  }
}
