html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  // min-width: ;
  // font-size: ;
  font-family: 'Inter', sans-serif;
  position: relative;
  overflow-x: hidden;
  // background-color: ;
  // color: ;
  // font-style: ;
  // font-weight: ;
  // line-height: ;
  min-height: 100%;

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

img {
  height: auto;
  max-width: 100%;
  display: block;
}
