:root {
  --fonts: "Inter", sans-serif;

  --colorButton: #5b48fc;

  --colorProjectStyle: #a4e522;

  --colorText: #131730;

  --colorText-08: rgb(19, 23, 48);

  --colorBackground: #f2f6f9;

  --colorWhite: #ffffff;

  --colorWhite-05: rgb(255, 255, 255);
}
