.button {
  display: block;
  text-align: center;
  border: none;
  background-color: #4d3fc7;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 128%;
  padding: 21px 26px 21px 34px;
  border-radius: 32px;
}
