.button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 128%;
  border-radius: 32px;
  background: var(--colorButton);
  width: max-content;
  padding: 21px 24px;
}
