.button {
  text-decoration: none;
  display: block;
  text-align: center;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 128%;
  border-radius: 32px;
  background: var(--colorButton);
  padding: 21px 0;
}
